@model Email.Model.RegistrationEmailModel
@{
    Layout = "Shared._Layout";
}
<h1 class="h1">@Resource.String("FirstSteps")</h1>
<table border="0" cellpadding="0" cellspacing="8">
    <tr>
        <td align="left" valign="middle" width="64">
            <img src="@Url.Content("~/image/email/validation.png")" style="margin: 0 !important;" />
        </td>
        <td align="left" valign="top">
            <span>@Resource.String("AccountCreated")</span>
            <strong>
                <a href="@Model.AccountValidationLink">@Resource.String("AccountValidation")</a>.
            </strong>
            <br/>
            <br/>
            <span>@Resource.String("OnValidation")</span>
        </td>
    </tr>
</table>

<h2 class="h2">@Resource.String("Bruttissimo")</h2>
<table border="0" cellpadding="0" cellspacing="8">
    <tr>
        <td align="left" valign="middle" width="64">
            <img src="@Url.Content("~/image/email/sharing.png")" style="margin: 0 !important;" />
        </td>
        <td align="left" valign="top">
            <div>@Resource.String("Sharing")</div>
        </td>
    </tr>
</table>

<h4 class="h4">@Resource.String("Regards")</h4>
<a href="@Url.Home()">@Resource.String("LinkBackText")</a>

@section Teaser
{
    @Resource.String("Teaser"), <strong>@Model.DisplayName</strong>!
}