@model LinkPostModel
@{
    string articleUrl = Url.Action("Details", "Posts", new { id = Model.Id, slug = Model.PostSlug });
}
<header>
    <h1>
        <a href="@articleUrl">@Model.LinkTitle</a>
    </h1>
</header>
<section class="user-description">
    <strong class="username">@Model.UserDisplayName</strong>
    <span class="user-message">@Model.UserMessage</span>
</section>
@if (Model.HasPicture)
{
    <a class="post-thumbnail" href="@articleUrl">
        <img src="@Model.LinkPicture" alt="" />
    </a>
}
<section class="post-description">@Model.LinkDescription</section>
