@if (Context.User.Identity.IsAuthenticated)
{
    <a href="@Url.Action("Logout", "User")">
        <span>@Resource.String("Logout")</span>
        <span class="logout-identifier">(@Context.User.Identity.Name)</span>
    </a>
}
else
{
    <a href="@Url.Action("Login", "User")">@Resource.String("Login")</a>
}